.pirate-container {
  display: flex;
  flex-direction: row;
  gap: 3em;

  @media (width <= 724px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
  
}
.pirate-text {
  min-width:250px;
}

img {
  border: 3px solid #317b22;
  width: 300px;
}